body{ margin: 20px; line-height: 1.5; max-width: 800px; margin-left: auto; margin-right: auto }
body{ 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body¨{
  font-family: 'Open Sans';
}
header{
  background-color: #B0AFAF;
  text-align: center;
  padding: 25px 0;
}
nav a{
  display: inline-block;
  text-decoration: none;
  color: #2C2B2C;
  margin: 0 30px;
}
nav a:hover{
  background-color: #8F1410;
  color: #fff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{

	background-color: #E7EBF6;
    display: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

form{
	background-color: #042B82;
	padding: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 420px;
}

form h2{
	font-size: 30px;
	color: #FFF ;
	margin-bottom: 30px;
}

input {
	padding: 17px;
	border: 0;
	background-color: #2A2A32;
	margin-bottom: 25px;
	color: #4A4B4C ;
	outline: none;
	font-size: 15px;
	border-radius: 10px;

}

::palaceholder {
	color: #CDCBD2;
}

.btn  {
	background-color: #E9EAEB ;
	color: #0C0E0D;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	background-color: #72D3EF ;
}

@media(max-width:991px) {
	body {
		padding: 30px;
	}

	form{
		width: 340px;
	}
}

